.container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 200px;
}

.header {
    text-align: center;
    margin-bottom: 20px;
}

.text {
    font-size: 24px;
    font-weight: bold;
}

.underline {
    width: 50px;
    height: 2px;
    background-color: #333;
    margin: 10px auto;
}

.inputs {
    margin-bottom: 20px;
}

.input {
    margin-bottom: 10px;
}

input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}

.submit-container {
    display: flex;
    gap: 30px;
    justify-content: space-between;
    margin: 60px auto;
}

.submit {
    width: 48%; /* Adjust the width as needed */
    padding: 10px;
    text-align: center;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    border: none;
    border-radius: 5px;
}

.submit:hover {
    background-color: #0056b3;
}

.gray{
    background: #EAEAEA;
    color: #676767;
}
